$main-bg: #151515;
$element-bg: #0f0e0e;
$orange: #ed9012;
$orange-faded: #ac6a0c;
$orange-faded2: #6d4308;

$block-width: minmax(30px, 190px);

$large-break: 1025px;
$medium-break: 560px;

@mixin screenSize($break) {
    @if $break==large {
        @media(min-width: $large-break) {
            @content;
        }
    }

    @else if $break==medium {
        @media(min-width: $medium-break) {
            @content;
        }
    }

    @else {
        @content;

    }
}

body {
    background: $main-bg;
    color: $orange;
    font-family: 'Fira Code', monospace;
    margin: 0;

    img {
        transition: .5s;
        width: 100%;
    }

    a {
        color: $orange;
    }
}

::selection {
    background: $element-bg;
    color: $orange;
}

header {
    background: $element-bg;

    div {
        max-width: 1400px;
        margin: 0 auto;
        display: grid;

        @include screenSize(small) {
            grid-template-columns: 1fr 49px;
            grid-template-rows: 49px;
        }

        @include screenSize(medium) {
            grid-template-columns: 1fr 55px;
            grid-template-rows: 55px;
        }
    }

    #terminal {
        grid-column: 1;

        margin: 0;
        padding: 0;
        color: $orange;

        @include screenSize(small) {
            font-size: 20px;
            padding: 10px;
        }

        @include screenSize(medium) {
            font-size: 22px;
            padding: 10px;
        }

        @include screenSize(large) {
            font-size: 27px;
        }

        &::after {
            content: attr(data-end);
            animation: typing-blink 1.5s linear 0s infinite;
        }
    }

    .nav-btn {
        grid-column: 2;
        padding: 0;
        border: none;
        height: 100%;
        aspect-ratio: 1/1;
        background: transparent;
        cursor: pointer;

        @include screenSize(large) {
            display: none;
        }

        .line {
            transition:
                y 200ms ease-in 200ms,
                rotate 200ms ease-in,
                opacity 0ms 200ms;
            transform-origin: center;
        }

        &.open .line {
            transition:
                y 200ms ease-in,
                rotate 200ms ease-in 200ms,
                opacity 0ms 200ms;
        }

        &.open :is(.top, .bot) {
            y: 45;
        }

        &.open .top {
            rotate: 45deg;
        }

        &.open .mid {
            opacity: 0;
        }

        &.open .bot {
            rotate: -45deg;
        }
    }

    #nav {
        grid-column: 1/3;

        @include screenSize(small) {
            font-size: 20px;
            padding: 0 5px;
        }
        
        @include screenSize(medium) {
            font-size: 22px;
            padding: 0 10px;
        }

        @include screenSize(large) {
            font-size: 27px;
        }

        ul {
            @include screenSize(small) {
                display: none;
                text-align: center;
            }

            @include screenSize(medium) {

                grid-template-columns: 1fr 1fr 1fr;
            }

            @include screenSize(large) {
                text-align: left;
                display: block;
            }

            margin: 0;
            padding: 0;
        }

        &.visible {
            ul {
                @include screenSize(small) {
                    display: block;
                }

                @include screenSize(medium) {
                    display: grid;
                }

                @include screenSize(large) {
                    display: block;
                }
            }
        }

        li {
            @include screenSize(medium) {
                display: inline-block;
            }
        }

        a {
            display: block;
            text-decoration: none;
            transition: .5s;

            @include screenSize(small) {
                padding: 10px;
                border-bottom: 2px solid transparent;
            }

            @include screenSize(medium) {
                padding: 5px;
            }

            @include screenSize(large) {
                padding: 2px 50px;
                border-bottom: 3px solid transparent;
            }
        }

        a:hover {
            @include screenSize(small) {
                border-bottom: 2px solid $orange;
            }

            @include screenSize(large) {
                border-bottom: 3px solid $orange;
            }
        }

        .active {
            background: $orange;
            color: $element-bg;

            border-radius: 10px;

            box-shadow: 0 0 5px 1px $orange,
                0 0 8px 3px $orange-faded,
                0 0 10px 5px $orange-faded2;
        }

        #home {
            grid-column: 1;
        }

        #transcript {
            grid-column: 2;
        }

        #resume {
            grid-column: 3;
        }
    }
}

main {
    max-width: 1400px;
    margin: 0 auto;

    &>div {
        margin: 50px;
    }

    #container {
        display: grid;
        grid-template-columns: repeat(8, $block-width);
        gap: 0.5em;
        justify-content: center;
    }

    #click {
        grid-column: 3;
    }

    .letter {
        text-decoration: none;

        :is(&[data-state="expand"], &[data-state="go"]) {
            z-index: 2;
            background: white;
            border-radius: calc(100vw*0.03);
            box-shadow: 0 0 5px 5px #fff,
                0 0 30px calc(100vw*.01) #0685a9,
                0 0 40px calc(100vw*.02) #03158d,
                0 0 50px calc(100vw*.03) #430ead;

            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;

            &#m {
                @include screenSize(small) {
                    background-image: url("../images/maeve-human-portfolio-thumbnail-small.webp");
                }

                @include screenSize(medium) {
                    background-image: url("../images/maeve-human-portfolio-thumbnail.webp");
                }
            }

            &#y {
                @include screenSize(small) {
                    background-image: url("../images/bountiful-foods-thumbnail-small.webp");
                }

                @include screenSize(medium) {
                    background-image: url("../images/bountiful-foods-thumbnail.webp");
                }

            }

            &#p {
                @include screenSize(small) {
                    background-image: url("../images/chamber-thumbnail-small.webp");
                }

                @include screenSize(medium) {
                    background-image: url("../images/chamber-thumbnail.webp");
                }

            }

            &#r {
                @include screenSize(small) {
                    // background-image: url("../images/-thumbnail-small.webp");
                }

                @include screenSize(medium) {
                    // background-image: url("../images/-thumbnail.webp");
                }

            }

            &#o {
                @include screenSize(small) {
                    // background-image: url("../images/-thumbnail-small.webp");
                }

                @include screenSize(medium) {
                    // background-image: url("../images/-thumbnail.webp");
                }

            }

            &#j {
                @include screenSize(small) {
                    // background-image: url("../images/-thumbnail-small.webp");
                }

                @include screenSize(medium) {
                    // background-image: url("../images/-thumbnail.webp");
                }

            }

            &#e {
                @include screenSize(small) {
                    // background-image: url("../images/-thumbnail-small.webp");
                }

                @include screenSize(medium) {
                    // background-image: url("../images/-thumbnail.webp");
                }

            }

            &#c {
                @include screenSize(small) {
                    // background-image: url("../images/-thumbnail-small.webp");
                }

                @include screenSize(medium) {
                    // background-image: url("../images/-thumbnail.webp");
                }

            }

            &#t {
                @include screenSize(small) {
                    // background-image: url("../images/-thumbnail-small.webp");
                }

                @include screenSize(medium) {
                    // background-image: url("../images/-thumbnail.webp");
                }

            }

            &#s {
                @include screenSize(small) {
                    // background-image: url("../images/-thumbnail-small.webp");
                }

                @include screenSize(medium) {
                    // background-image: url("../images/-thumbnail.webp");
                }

            }
        }

        &-inner {
            display: grid;
            grid-template-columns: 1fr 1fr;

            :is(&[data-state="expand"], &[data-state="go"]) {
                .top-left {
                    transform: translate(calc(100vw*-.02), calc(100vw*-.04)) rotate(30deg);
                }

                .top-right {
                    transform: translate(calc(100vw*.02), calc(100vw*-.04)) rotate(-30deg);
                }

                .bot-left {
                    transform: translate(calc(100vw*-.02), calc(100vw*.04)) rotate(-30deg);
                }

                .bot-right {
                    transform: translate(calc(100vw*.02), calc(100vw*.04)) rotate(30deg);
                }
            }


        }

        &#m {
            grid-column: 4;
            grid-row: 1;
        }

        &#y {
            grid-column: 5;
            grid-row: 1;
        }

        &#p {
            grid-column: 1;
            grid-row: 2;
        }

        &#r {
            grid-column: 2;
            grid-row: 2;
        }

        &#o {
            grid-column: 3;
            grid-row: 2;
        }

        &#j {
            grid-column: 4;
            grid-row: 2;
        }

        &#e {
            grid-column: 5;
            grid-row: 2;
        }

        &#c {
            grid-column: 6;
            grid-row: 2;
        }

        &#t {
            grid-column: 7;
            grid-row: 2;
        }

        &#s {
            grid-column: 8;
            grid-row: 2;
        }
    }
}

footer {
    width: 100%;
    background-color: $element-bg;
    color: $orange;

    & div {
        @include screenSize(small) {
            font-size: 20px;
            max-width: 1400px;
            padding: 10px;
        }

        @include screenSize(medium) {
            font-size: 22px;
        }

        @include screenSize(large) {
            font-size: 27px;
            margin: 0 auto;
        }
    }

    & p {
        padding: 0;
        margin: 0;
    }

    & a {
        color: #fff;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
            color: #151515;
            background-color: $orange;
        }
    }
}

@keyframes typing-blink {
    20% {
        opacity: 1;
    }

    25% {
        opacity: 0;
    }

    75% {
        opacity: 0;
    }

    80% {
        opacity: 1;
    }
}