body {
  min-width: 300px;
  background: #151515;
  color: #84bffa;
  font-family: "Fira Code", monospace;
  margin: 0;
}
body svg {
  transition: 0.5s;
  width: 100%;
  height: 100%;
}
body svg path {
  fill: #84bffa;
  transition: 0.5s;
}
body a {
  color: white;
}

::selection {
  background: #0f0e0e;
  color: #1b4774;
}

header {
  background: #03294c;
}
header div {
  max-width: 1400px;
  margin: 0 auto;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 49px;
  grid-template-rows: 49px;
}
@media (min-width: 560px) {
  header div {
    grid-template-columns: 1fr 55px;
    grid-template-rows: 55px;
  }
}
header #terminal {
  grid-column: 1;
  margin: 0;
  padding: 10px;
  color: white;
  font-size: 1em;
}
@media (min-width: 300px) {
  header #terminal {
    font-size: 16px;
  }
}
@media (min-width: 480px) {
  header #terminal {
    font-size: 19px;
  }
}
@media (min-width: 560px) {
  header #terminal {
    font-size: 20px;
  }
}
@media (min-width: 692px) {
  header #terminal {
    font-size: 22px;
  }
}
@media (min-width: 988px) {
  header #terminal {
    font-size: 24px;
  }
}
@media (min-width: 1136px) {
  header #terminal {
    font-size: 27px;
  }
}
header #terminal::after {
  content: attr(data-end);
  animation: typing-blink 1.5s linear 0s infinite;
}
header .nav-btn {
  grid-column: 2;
  padding: 0;
  border: none;
  height: 100%;
  aspect-ratio: 1/1;
  background: transparent;
  cursor: pointer;
}
@media (min-width: 1025px) {
  header .nav-btn {
    display: none;
  }
}
header .nav-btn .line {
  transition: y 200ms ease-in 200ms, rotate 200ms ease-in, opacity 0ms 200ms;
  transform-origin: center;
}
header .nav-btn.open .line {
  transition: y 200ms ease-in, rotate 200ms ease-in 200ms, opacity 0ms 200ms;
}
header .nav-btn.open :is(.top, .bot) {
  y: 45;
}
header .nav-btn.open .top {
  rotate: 45deg;
}
header .nav-btn.open .mid {
  opacity: 0;
}
header .nav-btn.open .bot {
  rotate: -45deg;
}
header #nav {
  grid-column: 1/3;
  padding: 0 5px;
  font-size: 1em;
}
@media (min-width: 560px) {
  header #nav {
    padding: 0 10px;
  }
}
@media (min-width: 300px) {
  header #nav {
    font-size: 16px;
  }
}
@media (min-width: 480px) {
  header #nav {
    font-size: 19px;
  }
}
@media (min-width: 560px) {
  header #nav {
    font-size: 20px;
  }
}
@media (min-width: 692px) {
  header #nav {
    font-size: 22px;
  }
}
@media (min-width: 988px) {
  header #nav {
    font-size: 24px;
  }
}
@media (min-width: 1136px) {
  header #nav {
    font-size: 27px;
  }
}
header #nav ul {
  display: none;
  text-align: center;
  margin: 0;
  padding: 0;
}
@media (min-width: 560px) {
  header #nav ul {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 1025px) {
  header #nav ul {
    text-align: left;
    display: block;
  }
}
header #nav.visible ul {
  position: absolute;
  display: block;
  background: #03294c;
  width: 100%;
  left: 0;
}
@media (min-width: 560px) {
  header #nav.visible ul {
    display: grid;
  }
}
@media (min-width: 1025px) {
  header #nav.visible ul {
    display: block;
  }
}
@media (min-width: 560px) {
  header #nav li {
    display: inline-block;
  }
}
header #nav a {
  display: block;
  text-decoration: none;
  transition: 0.5s;
  padding: 10px;
  border-bottom: 2px solid transparent;
}
@media (min-width: 560px) {
  header #nav a {
    padding: 5px;
  }
}
@media (min-width: 1025px) {
  header #nav a {
    padding: 2px 50px;
    border-bottom: 3px solid transparent;
  }
}
header #nav a:hover {
  border-bottom: 2px solid #84bffa;
}
@media (min-width: 1025px) {
  header #nav a:hover {
    border-bottom: 3px solid #84bffa;
  }
}
header #nav .active {
  background: #84bffa;
  color: #03294c;
  border-radius: 0;
}
@media (min-width: 560px) {
  header #nav .active {
    border-radius: 10px 10px 0 0;
  }
}
header #nav .active:hover {
  border-bottom: 2px solid #03294c;
}
@media (min-width: 1025px) {
  header #nav .active:hover {
    border-bottom: 3px solid #03294c;
  }
}
header #nav #home {
  grid-column: 1;
}
header #nav #transcript {
  grid-column: 2;
}
header #nav #resume {
  grid-column: 3;
}
header #nav #certificates {
  grid-column: 4;
}

main {
  max-width: 1400px;
  margin: 0 auto;
}
main > div {
  margin: 50px 10px 10px 10px;
}
@media (min-width: 560px) {
  main > div {
    margin: 50px 30px 30px 30px;
  }
}
@media (min-width: 1025px) {
  main > div {
    margin: 50px;
  }
}
main #container {
  display: grid;
  grid-template-columns: repeat(8, minmax(30px, 190px));
  gap: 0.5em;
  justify-content: center;
}
main h2 {
  font-family: "Major Mono Display", monospace;
  padding: 0;
  margin: 0;
  font-weight: lighter;
  color: #84bffa;
}
main h2::selection {
  background: #151515;
}
main #click {
  grid-column: 2/4;
  text-align: right;
  padding-right: 5px;
}
@media (min-width: 560px) {
  main #click {
    padding-right: 20px;
  }
}
@media (min-width: 1025px) {
  main #click {
    padding-right: 30px;
  }
}
@media (min-width: 300px) {
  main #click {
    font-size: 13px;
  }
}
@media (min-width: 480px) {
  main #click {
    font-size: 20px;
  }
}
@media (min-width: 545px) {
  main #click {
    font-size: 24px;
  }
}
@media (min-width: 692px) {
  main #click {
    font-size: 28px;
  }
}
@media (min-width: 988px) {
  main #click {
    font-size: 35px;
  }
}
@media (min-width: 1136px) {
  main #click {
    font-size: 45px;
  }
}
main #desc {
  grid-column: 1/9;
  justify-self: center;
}
@media (min-width: 300px) {
  main #desc {
    font-size: 16px;
  }
}
@media (min-width: 545px) {
  main #desc {
    font-size: 24px;
  }
}
@media (min-width: 692px) {
  main #desc {
    font-size: 32px;
  }
}
@media (min-width: 840px) {
  main #desc {
    font-size: 40px;
  }
}
@media (min-width: 988px) {
  main #desc {
    font-size: 48px;
  }
}
@media (min-width: 1136px) {
  main #desc {
    font-size: 56px;
  }
}
main .letter {
  text-decoration: none;
}
main .letter:is(main .letter[data-state=expand], main .letter[data-state=go]) {
  z-index: 2;
  background: white;
  border-radius: 3vw;
  box-shadow: 0 0 5px 5px #fff, 0 0 30px 1vw #0685a9, 0 0 40px 2vw #03158d, 0 0 50px 3vw #430ead;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
main .letter:is(main .letter[data-state=expand], main .letter[data-state=go])#m {
  background-image: url("../images/maeve-human-portfolio-thumbnail-small.webp");
}
@media (min-width: 560px) {
  main .letter:is(main .letter[data-state=expand], main .letter[data-state=go])#m {
    background-image: url("../images/maeve-human-portfolio-thumbnail.webp");
  }
}
main .letter:is(main .letter[data-state=expand], main .letter[data-state=go])#y {
  background-image: url("../images/bountiful-foods-thumbnail-small.webp");
}
@media (min-width: 560px) {
  main .letter:is(main .letter[data-state=expand], main .letter[data-state=go])#y {
    background-image: url("../images/bountiful-foods-thumbnail.webp");
  }
}
main .letter:is(main .letter[data-state=expand], main .letter[data-state=go])#p {
  background-image: url("../images/chamber-thumbnail-small.webp");
}
@media (min-width: 560px) {
  main .letter:is(main .letter[data-state=expand], main .letter[data-state=go])#p {
    background-image: url("../images/chamber-thumbnail.webp");
  }
}
main .letter:is(main .letter[data-state=expand], main .letter[data-state=go])#r {
  background-image: url("../images/techtroll-thumbnail-small.webp");
}
@media (min-width: 560px) {
  main .letter:is(main .letter[data-state=expand], main .letter[data-state=go])#r {
    background-image: url("../images/techtroll-thumbnail.webp");
  }
}
main .letter:is(main .letter[data-state=expand], main .letter[data-state=go])#o {
  background-image: url("../images/motors-thumbnail-small.webp");
}
@media (min-width: 560px) {
  main .letter:is(main .letter[data-state=expand], main .letter[data-state=go])#o {
    background-image: url("../images/motors-thumbnail.webp");
  }
}
main .letter-inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
main .letter-inner:is(main .letter-inner[data-state=expand], main .letter-inner[data-state=go]) .top-left {
  transform: translate(-2vw, -4vw) rotate(30deg);
}
main .letter-inner:is(main .letter-inner[data-state=expand], main .letter-inner[data-state=go]) .top-left path {
  d: path("M86 10V0H75C75 0 47.9702 0 23.2583 25.5C0 49.5 -1.52588e-05 77 -1.52588e-05 77L0.000500031 107H11V79C11 79 12 54.0763 32 32.5C52 10.9237 80 10 80 10H86Z");
}
main .letter-inner:is(main .letter-inner[data-state=expand], main .letter-inner[data-state=go]) .top-right {
  transform: translate(2vw, -4vw) rotate(-30deg);
}
main .letter-inner:is(main .letter-inner[data-state=expand], main .letter-inner[data-state=go]) .top-right path {
  d: path("M0 10V0H11C11 0 38.0298 0 62.7417 25.5C86 49.5 86 77 86 77L85.9995 107H75V79C75 79 74 54.0763 54 32.5C34 10.9237 6 10 6 10H0Z");
}
main .letter-inner:is(main .letter-inner[data-state=expand], main .letter-inner[data-state=go]) .bot-left {
  transform: translate(-2vw, 4vw) rotate(-30deg);
}
main .letter-inner:is(main .letter-inner[data-state=expand], main .letter-inner[data-state=go]) .bot-left path {
  d: path("M86 97V107H75C75 107 47.9703 107 23.2583 81.5C1.52588e-05 57.5 0 30 0 30L0.00051529 7.62939e-06H11V28C11 28 12 52.9237 32 74.5C52 96.0763 80 97 80 97H86Z");
}
main .letter-inner:is(main .letter-inner[data-state=expand], main .letter-inner[data-state=go]) .bot-right {
  transform: translate(2vw, 4vw) rotate(30deg);
}
main .letter-inner:is(main .letter-inner[data-state=expand], main .letter-inner[data-state=go]) .bot-right path {
  d: path("M0 97V107H11C11 107 38.0298 107 62.7417 81.5C86 57.5 86 30 86 30L85.9995 7.62939e-06H75V28C75 28 74 52.9237 54 74.5C34 96.0763 6 97 6 97H0Z");
}
main .letter#m {
  grid-column: 4;
  grid-row: 1;
}
main .letter#y {
  grid-column: 5;
  grid-row: 1;
}
main .letter#p {
  grid-column: 1;
  grid-row: 2;
}
main .letter#r {
  grid-column: 2;
  grid-row: 2;
}
main .letter#o {
  grid-column: 3;
  grid-row: 2;
}
main .letter#j {
  grid-column: 4;
  grid-row: 2;
}
main .letter#e {
  grid-column: 5;
  grid-row: 2;
}
main .letter#c {
  grid-column: 6;
  grid-row: 2;
}
main .letter#t {
  grid-column: 7;
  grid-row: 2;
}
main .letter#s {
  grid-column: 8;
  grid-row: 2;
}

.document {
  width: 100%;
}
@media (min-width: 560px) {
  .document {
    display: block;
    margin: auto;
  }
}
@media (min-width: 1025px) {
  .document {
    display: block;
    margin: auto;
    width: 75%;
  }
}

footer {
  width: 100%;
  background-color: #03294c;
  color: #84bffa;
}
footer div {
  max-width: 1400px;
  padding: 10px;
}
@media (min-width: 1025px) {
  footer div {
    margin: 0 auto;
  }
}
footer h2, footer h3 {
  padding: 0;
  margin: 0;
  font-weight: lighter;
  font-size: 1em;
}
@media (min-width: 300px) {
  footer h2, footer h3 {
    font-size: 16px;
  }
}
@media (min-width: 480px) {
  footer h2, footer h3 {
    font-size: 19px;
  }
}
@media (min-width: 560px) {
  footer h2, footer h3 {
    font-size: 20px;
  }
}
@media (min-width: 692px) {
  footer h2, footer h3 {
    font-size: 22px;
  }
}
@media (min-width: 988px) {
  footer h2, footer h3 {
    font-size: 24px;
  }
}
@media (min-width: 1136px) {
  footer h2, footer h3 {
    font-size: 27px;
  }
}
footer a {
  color: #fff;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
  color: #151515;
  background-color: #84bffa;
}

@keyframes typing-blink {
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
