:root {
    --primary-color: #2D4F25;
    --secondary-color: #106b06;
    --accent-color: #d3ffcf;
    --nav-primary: #106b06;
    --nav-hover: #085e02;
    --nav-active: #2D4F25;
    --footer-color: #1c2f18;
    --button-color: #11ae06;
    --hover-color: #35952a;
    --gap: .5rem;
}

@media only screen and (min-width: 561px) {
    header {
        grid-template-columns: 75px 1fr;
        position: relative;
    }

    #top-logo {
        width: 90%;
        margin: 5%;
    }

    #nav-bar {
        grid-column: 1/3;
        display: block !important;
        margin-bottom: 0;
    }

    #nav-bar>ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    #ham-menu {
        display: none;
    }

    #content {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 500px 360px 1fr 320px;
    }

    #hero {
        grid-column: 1/3;
        grid-row: 1;
    }

    #hero >picture>img {
        height: 500px;
    }

    #summary {
        grid-column: 2;
        grid-row: 2;
    }

    #summ-img {
        grid-column: 4;
    }

    #summ-head,
    #summ-info {
        grid-column: 2;
    }

    #weather {
        grid-column: 1;
        grid-row: 2;
    }

    #orders {
        grid-column: 1/3;
        grid-row: 3;
    }

    #order1,
    #order2,
    #order3 {
        display: grid;
        grid-template-columns: 1fr var(--gap) 1fr;
        grid-template-rows: 1fr .2rem 3fr;
    }

    #action {
        grid-column: 1/3;
        grid-row: 4;
        color: var(--accent-color);
        background-color: var(--primary-color);
    }


    form {
        width: 50%;
        border-radius: 10px;
        margin-inline: auto;
    }


    footer {
        height: 100px;
        grid-template-columns: 75px 1fr calc(50px + var(--gap) + 50px + var(--gap) + 50px);
        grid-template-rows: 50px 50px;
    }

    footer>a {
        height: 75px;
    }

    footer>a>picture>img {
        height: 65px;
        width: 65px;
        margin: 5px;
    }

    #contact-info {
        height: 50px;
    }

    #socials {
        height: 50px;
        display: grid;
        grid-template-columns: repeat(2, 50px var(--gap)) 50px;
    }

    #socials>a {
        height: 50px;
    }

    #socials>a>img {
        margin: 5px;
        height: 40px;
        width: 40px;
    }

    #edited {
        margin-top: .5rem;
    }
}