:root {
    --primary-color: #2D4F25;
    --secondary-color: #106b06;
    --accent-color: #d3ffcf;
    --nav-primary: #106b06;
    --nav-hover: #085e02;
    --nav-active: #2D4F25;
    --footer-color: #1c2f18;
    --button-color: #11ae06;
    --hover-color: #35952a;
    --gap: .5rem;
}

html {
    scroll-behavior: smooth;
}

body {
    min-width: 330px;
    background-color: var(--accent-color);
    font-family: 'Nunito Sans';
}

h1 {
    font-family: 'Rubik Microbe';
    font-size: 1.6em;
    margin: 0;
}

h2 {
    font-size: 1rem;
    margin: 0;
}

p {
    margin: .2rem 0;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

header {
    display: grid;
    grid-template-columns: 50px 1fr 60px;
    background-color: var(--primary-color);
    align-items: center;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

#top-logo {
    width: 50px;
    aspect-ratio: 1/1;
    margin: 2% 0 0 2%;
}

#heading {
    grid-column: 2;
    grid-row: 1;
    color: var(--accent-color);
}

#heading::after {
    content: attr(data-end);
    animation: text-bar 1s linear 0s infinite;
}

#ham-menu {
    height: 100%;
    aspect-ratio: 1/1;
    display: grid;
    grid-template-columns: 5% 1fr 5%;
    grid-template-rows: 15% repeat(5, 1fr) 15%;
    grid-column: 3;
    margin: 0 auto;
}

#ham-menu>div {
    background-color: var(--accent-color);
    height: 100%;
    border: 1px solid var(--secondary-color);
    border-radius: 15px;
    grid-column: 2;
}

#ham-1 {
    grid-row: 2;
}

#ham-2 {
    grid-row: 4;
}

#ham-3 {
    grid-row: 6;
}

#cross-menu {
    height: 100%;
    aspect-ratio: 1/1;
    display: grid;
    grid-template-columns: 5% 1fr 5%;
    grid-template-rows: 15% repeat(5, 1fr) 15%;
    grid-column: 3;
    margin: 0 auto;
}

#cross-menu>div {
    background-color: var(--accent-color);
    height: 100%;
    border: 1px solid var(--secondary-color);
    border-radius: 15px;
    grid-column: 2;
}

#cross-1 {
    grid-row: 3;
    transform: rotate(45deg) translate(5px, 6px);
}

#cross-2 {
    grid-row: 5;
    transform: rotate(-45deg) translate(5px, -6px);
    ;
}

#nav-bar {
    grid-column: 1/4;
    width: 100%;
}

#nav-bar>ul {
    margin: 0;
    padding: 0;
}

#nav-bar>ul>li {
    list-style-type: none;
}

#nav-bar>ul>li>a {
    color: var(--accent-color);
    background-color: var(--nav-primary);
    display: block;
    font-size: 1.3em;
    text-decoration: none;
    padding: .8rem 0;
    text-align: center;
}

#nav-bar>ul>li>a:hover {
    background-color: var(--nav-hover);
}

.active {
    background-color: var(--nav-active) !important;
}

#content {
    display: grid;
    grid-template-rows: 300px 200px 320px 330px 1fr;
}

#hero {
    grid-row: 1;
}

#hero>picture>img {
    position: absolute;
    height: 300px;
}

#hero1>img {
    z-index: 1;
    animation: hero1-ani 15s linear infinite;
}

#hero2>img {
    z-index: 0;
    animation: hero2-ani 15s linear infinite;
}

#hero3>img {
    z-index: 0;
    animation: hero3-ani 15s linear infinite;
}

#summary {
    color: var(--accent-color);
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: var(--gap) repeat(2, 1fr var(--gap));
    grid-template-rows: var(--gap) 40px var(--gap) 1fr var(--gap);
}

#summ-img {
    grid-column: 2;
    grid-row: 2/5;
}

#summ-head {
    grid-column: 4;
    grid-row: 2;
    margin: 0 auto;
}

#summ-info {
    grid-column: 4;
    grid-row: 4;
}

#action {
    color: var(--primary-color);
    display: grid;
    grid-template-columns: var(--gap) repeat(2, 1fr var(--gap));
    grid-template-rows: var(--gap) 40px var(--gap) 1fr var(--gap) 40px var(--gap);
}

#action-head {
    grid-column: 2;
    grid-row: 2;
    margin: 0 auto;
}

#action-info {
    grid-column: 2;
    grid-row: 4;
}

#action-but {
    grid-column: 2;
    grid-row: 6;
    text-align: center;
    padding: .6rem 0;
}

#order-but {
    color: #000;
    background-color: var(--button-color);
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    padding: .6rem 35%;
}

#order-but:hover {
    background-color: var(--hover-color);
}

#action-img {
    grid-column: 4;
    grid-row: 2/7;
}

#weather {
    color: var(--accent-color);
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: var(--gap) 2fr var(--gap) 3fr var(--gap);
    grid-template-rows: var(--gap) repeat(2, 40px) var(--gap) repeat(2, 1fr var(--gap));
}

#weather-img {
    grid-column: 2;
    grid-row: 2/4;
    margin: 0 auto;
}

#weather-img img {
    height: 100%;
}

#weather-temp {
    grid-column: 2;
    grid-row: 5;
}

#weather-desc {
    grid-column: 2;
    grid-row: 7;
}

#weather-head {
    grid-column: 4;
    grid-row: 2;
    margin: 0 auto;
}

#weather-forcast {
    grid-column: 4;
    grid-row: 3/8;
    display: grid;
    grid-template-rows: repeat(2, 1fr var(--gap)) 1fr;
}

#day1 {
    grid-row: 1;
}

#day2 {
    grid-row: 3;
}

#day3 {
    grid-row: 5;
}

#orders {
    color: var(--primary-color);
    border: 2px solid var(--secondary-color);
    margin: var(--gap);
    display: grid;
    grid-template-columns: var(--gap) 1fr var(--gap);
    grid-template-rows: var(--gap) 25px 1fr;
    padding-bottom: var(--gap);
}

#order-head {
    grid-column: 1/6;
    grid-row: 1/3;
    margin: 0 auto;
}

#order-head>h2,
#order1-name>h2,
#order2-name>h2,
#order3-name>h2 {
    font-size: 1.5rem;
    font-family: 'Rubik Microbe';
}

#order1,
#order2,
#order3 {
    display: grid;
    grid-template-columns: 1fr var(--gap) 2fr;
    grid-template-rows: 1fr .2rem 3fr;
}

#order1-img,
#order2-img,
#order3-img {
    border: 1px solid var(--secondary-color);
    height: 200px;
    grid-column: 1;
    grid-row: 1/4;
}

#order1-name,
#order2-name,
#order3-name {
    grid-column: 3;
    grid-row: 1;
}

#order1-info,
#order2-info,
#order3-info {
    grid-column: 3;
    grid-row: 3;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
}

#order1-info>div,
#order2-info>div,
#order3-info>div {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

#order1,
#order2,
#order3 {
    grid-column: 2;
    margin-top: var(--gap);
}


form {
    color: var(--accent-color);
    background-color: var(--primary-color);
    padding: .8rem 1rem;
    margin: .8rem 0;
}

#form-content {
    border: 3px solid var(--footer-color);
    border-radius: 10px;
    padding: 1rem .5rem;
}

form>div>label>input,
form>div>label>select,
form>div>label>textarea {
    margin: .2rem 0 1.25rem;
}

form>div>label,
form>div>input {
    display: block;
    margin: 0 2%;
}

#first-name,
#email,
#phone,
#instructions {
    width: 98%;
}

#submit {
    width: 96%
}

#confirm {
    color: var(--accent-color);
    background-color: var(--primary-color);
    padding: .8rem 1rem;
    margin: .8rem 0;
}

#confirm>div {
    border: 2px solid var(--footer-color);
    border-radius: 10px;
    padding: 1rem .5rem;
    text-align: center;
}

#confirm>div>h2 {
    font-family: 'Rubik Microbe';
    font-size: 1.3rem;
}

#confirm>div>p {
    margin-bottom: .8rem;
}

#confirm>div>a {
    color: #000;
    background-color: var(--button-color);
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    padding: .2rem 2rem;
}

#confirm>div>a:hover {
    background-color: var(--hover-color);
}


#history {
    display: grid;
    grid-template-columns: var(--gap) 1fr var(--gap) 1fr var(--gap);
    grid-template-rows: var(--gap) repeat(2, 1fr 2fr var(--gap));
}

#about-bf-img {
    grid-column: 2;
    grid-row: 2/4
}

#about-bf-head {
    grid-column: 4;
    grid-row: 2
}

#about-bf-p {
    grid-column: 4;
    grid-row: 3
}

#about-area-img {
    grid-column: 4;
    grid-row: 5/7
}

#about-area-head {
    grid-column: 2;
    grid-row: 5;
}

#about-area-p {
    grid-column: 2;
    grid-row: 6;
}

#contact {
    color: var(--accent-color);
    background-color: var(--primary-color);
    padding: .5rem;
}

#contact>p {
    font-size: 1.2rem;
}

#social-contact {
    display: grid;
    grid-template-columns: var(--gap) repeat(3, 50px var(--gap));
    grid-template-rows: 1fr 50px;
}

#social-contact>h2 {
    grid-column: 1/7;
}

#insta {
    grid-column: 2;
    grid-row: 2;
}

#twit {
    grid-column: 4;
    grid-row: 2;
}

#fb {
    grid-column: 6;
    grid-row: 2;
}

#social-contact>h2,
#map>h2 {
    font-size: 1.2rem;
    margin: .2rem;
}

#map>iframe {
    width: 100%;
}

footer {
    background-color: var(--footer-color);
    height: 100px;
    display: grid;
    grid-template-columns: 50px 1fr calc(50px + var(--gap) + 50px + var(--gap) + 50px);
    grid-template-rows: repeat(2, 50px);
}

footer>a {
    height: 50px;
}

footer>a>picture>img {
    height: 40px;
    width: 40px;
    margin: 5px;
}

#contact-info {
    color: var(--accent-color);
    height: 50px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    text-align: center;
}

#contact-info>a {
    color: var(--accent-color);
    text-decoration: none;
    margin: .2rem auto 0;
}

#edited {
    grid-column: 1/4;
    grid-row: 2;
    color: var(--accent-color);
    text-align: center;
}

#socials {
    height: 50px;
    display: grid;
    grid-template-columns: repeat(2, 50px var(--gap)) 50px;
}

#socials>a {
    height: 50px;
}

#socials>a>img {
    margin: 5px;
    height: 40px;
    width: 40px;
}

#instagram {
    grid-column: 1;
}

#twitter {
    grid-column: 3;
}

#facebook {
    grid-column: 5;
}

.hidden {
    display: none !important;
}

@keyframes text-bar {
    0% {
        opacity: 100%;
    }

    50% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes hero1-ani {
    0% {
        z-index: 1;
    }

    33% {
        z-index: 0;
    }

    66% {
        z-index: 0;
    }

    100% {
        z-index: 1;
    }
}

@keyframes hero2-ani {
    0% {
        z-index: 0;
    }

    33% {
        z-index: 1;
    }

    66% {
        z-index: 0;
    }

    100% {
        z-index: 0;
    }
}

@keyframes hero3-ani {
    0% {
        z-index: 0;
    }

    33% {
        z-index: 0;
    }

    66% {
        z-index: 1;
    }

    100% {
        z-index: 0;
    }
}