:root {
    --primary: #BECEB0;
    --secndary: #34857F;
    --accent: #B0A48A;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Nunito Sans";
    background-color: #F1EFE9;
    margin: 0 auto;
    text-align: center;
}

header {
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 26px 135px;
    align-items: center;
    background: linear-gradient(black 10%, var(--accent) 25%);
    color: black;
}


#terminal {
    text-decoration: none;
    grid-column: 1/3;
    grid-row: 1;
    height: 100%;
    color: #ed9012;
    text-align: left;
}

#terminal>h1 {
    font-family: 'Fira Code', monospace;
    margin: 10px 0;
    font-size: 16px;
}

#terminal>h1::after {
    content: attr(data-end);
    animation: typing-blink 1.5s linear 0s infinite;
}

#logo {
    grid-column: 1;
    grid-row: 2;
    width: 90%;
    aspect-ratio: 1/1;
    margin: 5%;
}

header h1 {
    grid-column: 2;
    grid-row: 2;
    margin: .2rem;
}

#primary-nav {
    grid-column: 1/3;
    grid-row: 3;
    background-color: var(--secndary);
}

.nav-link {
    text-decoration: none;
    color: var(--primary);
    font-size: 1.2rem;
    display: block;
    padding: .5rem;
}

.nav-link:hover {
    color: black;
    background-color: var(--accent);
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 1600px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    z-index: 99;
}

.active {
    background-color: #0f534e;
}

#slivers {
    display: grid;
    grid-template-rows: repeat(7, 150px);
    align-items: center;
    margin: .5rem 0;
}

#slivers a h1 {
    grid-row: 2;
    margin: auto;
}

#slivers a {
    background-color: var(--primary);
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    padding: 0 .5rem;
    text-decoration: none;
    color: var(--secndary);
    height: 100%;
    transform: scale(1);
    transition-duration: .6s;
    opacity: 1;
}

#slivers a:hover {
    transition-duration: .6s;
    /* width: 88.7%; */
    opacity: 0.8;
}

.sliver {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#video {
    width: 80%;
    max-width: 500px;
    margin: .8rem auto;
}

#topBtn {
    display: none;
    position: fixed;
    bottom: 45px;
    right: 50px;
    z-index: 99;
    border-radius: 50%;
    background-color: var(--primary);
    cursor: pointer;
    padding: .5rem;
    height: 60px;
    aspect-ratio: 1/1;
}

#topBtn:hover {
    background-color: var(--secndary);
}

#topBtn img {
    width: 100%;
}

.construction-drawing {
    max-width: 1600px;
    width: 100%;
}

.construction-img {
    max-width: 900px;
    width: 50%;
}

.hero {
    max-width: 100%;
}

#portfolio-cont {
    display: grid;
    grid-template-columns: 40px 1fr 40px;
    margin: .8rem auto;
}

#prev,
#prev-btn {
    max-width: 100%;
    grid-column: 1;
    grid-row: 2;
}

#next,
#next-btn {
    max-width: 100%;
    grid-column: 3;
    grid-row: 2;
}

.hidden {
    display: none;
}

#portfolio-page {
    max-width: 100%;
    grid-column: 2;
    grid-row: 1/4;
}

#cv {
    width: 100%;
    max-width: 750px;
    margin: 1.5rem auto;
}

footer {
    background-color: var(--secndary);
    color: var(--primary);
    padding: .5rem;
}

#contact a {
    text-decoration: none;
    color: var(--primary);
    margin: 0 .6rem;
    font-size: 1.1rem;
}

#contact a:hover {
    color: var(--accent);
}

#info h3 {
    margin: 0;
}

#info {
    margin: .4rem 0;
}

@keyframes typing-blink {
    20% {
        opacity: 1;
    }

    25% {
        opacity: 0;
    }

    75% {
        opacity: 0;
    }

    80% {
        opacity: 1;
    }
}

@media only screen and (min-width: 561px) {
    header {
        background: linear-gradient(black 12%, var(--accent) 25%);
    }

    #terminal {
        margin: 0 50px;
    }

    #terminal>h1 {
        font-size: 20px;
    }
}

@media only screen and (min-width: 1025px) {
    body {
        max-width: 1600px;
    }

    header {
        background: linear-gradient(black 25%, var(--accent) 50%);
        grid-template-rows: 66px 1fr 36px;
    }
    
    #terminal>h1 {
        font-size: 27px;
        padding: 15px;
        margin: 0;
    }

    #logo {
        grid-row: 2/4;
        width: 100%;
        margin: 0;
    }

    #primary-nav {
        grid-column: 2;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .nav-link {
        padding: 5px;
    }

    #slivers {
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: 700px;
    }

    #slivers a:hover {
        transform: scale(1.2);
        height: 83.5%;
        width: 100%;
    }

    #video {
        grid-column: 3/6;
        width: 100%;
        max-width: 100%;
    }

    #hero-img {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #info h3 {
        letter-spacing: .2rem;
    }
}